@{
	ViewData["Title"] = "Администрирование";
}

<h2>Панель администратора</h2>

<ul>
	<li>Управление пользователями</li>
	<li>Учебные группы</li>
	<li>Учебные автомобили</li>
	<li>Расписание занятий</li>
</ul>
